body {
    font-family: Menlo, Consolas, monospace;
}

h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td:first-child {
    border-left: 3px solid red;
}

th {
    text-align: center;
}

th,
td {
    padding: 0.25rem 0 0.25rem 1rem !important;
    border: 0;
}

th:first-child,
td:first-child {
    font-weight: bold;
}

form {
    margin-bottom: 0;
}

select,
input {
    font-size: inherit;
}

hr {
    margin: 1rem 0;
}

.status {
    color: red;
}

.collapsible {
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #eee;
}

.collapsible:before {
    content: "\002B";
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}

.active:before {
    content: "\2212";
}

.content {
    display: none;
}
